<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediagram</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/css/detalleUsuario.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include("./partials/headerDeslogueado.ejs") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-small">
                <section class="info-usuario uk-flex uk-flex-around uk-width-1-1">
                    <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
                    <img  class="fotoUsuario" src= <% if(resultados){ %> <%= resultados.fotoPerfil %> <% } %>  " alt="foto de perfil">
                    </div>
                    <div class="uk-width-2-3 uk-flex uk-flex-column uk-flex-around">
                        <div class="uk-flex uk-flex-middle">
                            <h3 class="uk-margin-remove"><% if(resultados){ %> 
                                <%= resultados.nombre %> 
                                <% } %>
                            </h3>
                            <button class="uk-button uk-button-small uk-button-primary uk-margin-left">Seguir</button>
                        </div>
                        <div>
                            <ul class="red-usuario uk-flex uk-flex-between uk-width-1-2">
                            <li>Posts: <% if(resultados) { %><%= resultados.posts %> <% } %>  </li>
                            <li>Seguidores: <% if(resultados) { %><%= resultados.seguidores %> <% } %>  </li>
                            <li>Seguidos: <% if(resultados) { %><%= resultados.seguidos %> <% } %>  </li>
                            </ul>
                        </div>
                    </div>
                    
               </section>

               <section class="muro uk-flex uk-flex-middle uk-flex-center">
                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
                        <% for (let i = 0; i < resultados.postear.length ; i++) {%>
                            <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detallePost/<% if(resultados.postear[i]) { %> <%= resultados.postear[i].id %> <% } %>" class="link-detalle">
                                    <img src="<%= resultados.postear[i].url %> " alt="" class="">
                                    <p class="uk-text-center"><%= resultados.postear[i].descripcion %> </p>
                                </a>
                            </div>
                         <%}%>
                        </div>
                    
                      
                        
                    </div>
               </section>
            </div>
        </div>
    </main>

    <%- include("./partials/footer.ejs") %>

</body>

</html>