<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediagram</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/css/miPerfil.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include("./partials/headerLogueado.ejs") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-small">
                <section class="info-usuario uk-flex uk-flex-around uk-width-1-1">
                    <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
                        <img src="<%=locals.user.fotoPerfil%>" alt="foto de perfil" class="foto-perfil">
                    </div>
                    <div class="uk-width-2-3 uk-flex uk-flex-column uk-flex-around">
                        <div class="uk-flex uk-flex-middle">
                            
                            <% if(query.edit != "true"){%>
                                <h3 class="uk-margin-remove"><%= locals.user.nombre %></h3>
                                <a id="boton-edit" href="/home/miPerfil?edit=true" uk-icon="icon:cog; ratio: 1.2" class="uk-margin-left"></a>
                            <%} else{%>
                                <form action="/home/miPerfil" method="POST">
                                <div class="form-row">
                                    <div class="form-group">
                                        <input type="text" name="nombreNew" id="" value="<%= locals.user.nombre%>">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit">A</button>
                                    </div>
                                </form>
                                <form action="/home/miPerfil" method="POST">
                                    <div class="form-group">
                                        <button type="submit" value="1" name="rechazar">R</button>
                                    </div>
                                </form>
                                    
                                </div>
                            <%} %>
                            
                        </div>
                        <div>
                            <ul class="red-usuario uk-flex uk-flex-between uk-width-1-2">
                                <li>100 posts</li>
                                <li>200 seguidores</li>
                                <li>300 seguidos</li>
                            </ul>
                            <form action="/home/miPerfil/edit">
                            <button>Editar</button>
                            </form>
                        </div>
                        <div>
                            <form action="/detalleUsuario" method="GET">
                                <a href="/detalleUsuario/comentarios/<% if(resultados) { %> <%= resultados.id %> <% } %>">
                                <button type="button" class="btn btn-primary">Ver mi historial de comentarios</button>
                            </a>
                            </form>
                        </div>
                    </div>

                </section>

                <section class="muro uk-flex uk-flex-middle uk-flex-center">
                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
                        <% for (let index = 0; index < resultados.postear.length; index++) {%>
                            <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                                <a href="/detallePost/<%= resultados.postear[index].id%>" class="link-detalle">
                                    <img src="<%= resultados.postear[index].url%>" alt="foto de perfil" class="foto-cont-miPerfil">
                                    <p class="uk-text-center">
                                        <% if(resultados.postear[index].descripcion.length >= 20){%>
                                            <%= resultados.postear[index].descripcion.substr(0,20) + "..."%>
                                        <%} else {%>
                                            <%=resultados.postear[index].descripcion%>
                                        <%} %>
                                    </p>
                                </a>
                            </div>
                         <%}%>



                    </div>
                </section>
            </div>
        </div>
    </main>

    <%- include("./partials/footer.ejs") %>


</body>

</html>